[submodule "growthandfun/growthandfun.github.io"]
	path = growthandfun/growthandfun.github.io
	url = git@github.com:suryasiriki1/growthandfun.github.io.git
	branch = main
[submodule "public"]
	path = public
	url = https://github.com/suryasiriki1/growthandfun.github.io
	branch = main
